@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'montserrat', sans-serif;
    scroll-behavior: smooth;
}
h1{
    font-size: 38px;
    margin-bottom: 1%; /*space*/
}
/* p + li (for vaccination page)*/
p{
    display: block;
    unicode-bidi: embed;
    color: rgb(0, 0, 0);
    font-size: 18px;
    position: relative;
    text-align: right;
    font-family: "Gill Sans", sans-serif,cursive;
    font-weight: bold;
    
}

.liS li{
    padding-top: 2%;
    height: 40px;
    font-size: 16px;
    font-family: "Gill Sans", sans-serif,cursive;
    position: relative;
    font-weight: bold;
    text-align: center;
}

/*end of p + li */

a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#CoronaImg{
    height: 40%;
    width: 50%;
}

/*dropdown-content*/
.dropdown-content {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 8%;
    left: 0;
    background-image: linear-gradient(180deg,#29323c 0%,#485563 100%); /*180deg so it starts dark colour from top*/
    overflow-x: hidden;
    padding-top: 20px;
    scroll-behavior: smooth;
  }
/* hiding all scroll bars */
  ::-webkit-scrollbar {
    display: none;
}

  .dropdown-content a {
    padding: 10px 8px 15px 1px;
    text-decoration: none;
    font-size: 20px;
    color: #fcfcfcc9;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: crimson;
  }
  @media screen and (max-height: 450px) {
    .dropdown-content {padding-top: 15px;}
    .dropdown-content a {font-size: 13px;}
  }
/*end dropdown-content*/

.project h1{ /* footer */
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.project h1 span{
    color: crimson;
}
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto; 
}

#header .header{
    min-height: 8vh;
    background-color: rgba(27, 99, 167, 0.212);
    transition: background-color 0.3s ease;
}
.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 2000px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31,30,30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .4s ease left;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: crimson;
}
/*hamburger menu*/
#header .list{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .list:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: list_pulse 3s ease infinite;
}
#header .list .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .list .bar::after,
#header .list .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .list .bar::after{
    top: 8px;
}
#header .list .bar::before{
    bottom: 8px;
}
#header .list.active .bar::before{
    bottom: 0;
}
#header .list.active .bar::after{
    top: 0;
}

#sectionID{
    background-image: url(./image/corona_bg4V2.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#sectionID::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: .65;
    z-index: -1;
}
#sectionID .sectionID{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#sectionID h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#sectionID h1:nth-child(1){
    animation-delay: 1s;
}
#sectionID h1:nth-child(2){
    animation-delay: 2s;
}
#sectionID h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#sectionID h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgb(187, 93, 114);
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#sectionID h1:nth-child(1) span{
    animation-delay: .5s;
}
#sectionID h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#sectionID h1:nth-child(3) span{
    animation-delay: 2.5s;
}

/*services*/

#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .service-top{
    max-width: 500px;
    margin: 0 auto;
}
#services .section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin: 25px;
    text-transform: uppercase;
    letter-spacing: .4rem;
    text-align: center;
}
#services .section-title span{
    color: crimson;
}
#services .service-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .85rem;
}
#services .service-bottom{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .service-item{
    flex-basis: 55%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-image: url(./image/corona_bg3.jpg);
    background-size: cover;
    margin: 10px 5%; 
    position: relative;
    z-index: 1;
}
#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: .3;
    z-index: -1;
}

/* Footer */
#footer{
    background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*keyframe */
@keyframes list_pulse{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.45);
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: rgba(255, 255, 255, 0.856);
    }
}
@keyframes text_reveal_name{
    100%{
        color:crimson;
        font-weight: 500;
    }
}

/*media for tablet*/
@media only screen and (min-width: 768px){
    #sectionID h1{
        font-size: 7rem;
    }
    #services .section-title{
        font-size: 6rem;
    }
    #services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    }
}
/*media for desktop*/
@media only screen and (min-width:1200px){
    #header .list{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.5rem;
    }
    #header .nav-list ul a:after{
        display: none;
    }
    #services .service-bottom .service-item{
        flex-basis: 49%;
        margin: 1%;
    }
}

/*masks page*/

.wrapper {
    text-align: center;
  }
  .wrapper h1 {
    color: #fff;
    font-size: 70px;
    font-family: "ubuntu";
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, #e72a3a 10%, #fff 50%, #5b8fffc5 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
  /* effect of rng colors */
  @keyframes textclip { 
    to {
      background-position: 200% center;
    }
  }
  .wrapper2{
    overflow-x: hidden;
    display: grid;
    place-items: center;
  }

  pre {
      text-align: center;
      font-family: "Gill Sans", sans-serif;
      overflow-x: hidden;
      display: grid;
      place-items: center;
    }

/*map declarations*/
.mikra{
    top: 300px;
    height: 40px;
}