/*NOT USEABLE ANYMORE*/

html {
    scroll-behavior: smooth;
  }
body {
    height: 10vh;
    margin: 0;
    background-color: rgba(240, 239, 245, 0.938);
    font-family: "Gill Sans", sans-serif;
    overflow-x: hidden;
    display: grid;
    place-items: right;
    background-repeat: repeat;
    background-size:cover;
    position: absolute;
    right: 15px;
    top: 80px
}

h1{
    font-size: 36px;
    position: relative;
    text-align: center;
    right: 200px;
    top: 10%;
    color: rgba(251, 255, 1, 0.966);
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(228, 8, 8, 0.295), 0 0 5px rgb(0, 12, 12);
}
  
a {
    text-decoration: none;
    color: #52044e;
}
pre{
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top: 10%;
    position: relative;
    white-space: pre-line;
    margin-left: 20%;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
    top:0;
    left: 1em;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2980B9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height:700px;
    overflow:scroll;
    left: 0;
  }
  .dropdown-content::-webkit-scrollbar { 
    display: none;  /* removing the scrollbar */
}
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(212, 14, 14)}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


  /* Navbar links */
  #navbar a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  
  .CoronaPic{
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /*buttons*/
  .btn {
    font-family: "Gill Sans", sans-serif;
    font-size: 18px;
    font-weight: bald;
    background: #1E90FF;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(208, 245, 0, 0.781);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.897);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  #button1{
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #button2{
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #button3{
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }